.error {
  background: lightcoral;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  background: lightgreen;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}